<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Web Developer at
      <b>PrabuBima Tech</b> building things for the web with some awesome people. I graduated with a 
      Bachelor's degree in Informatics Engineering from <b>Institut Teknologi Telkom Purwokerto.</b>
    </p>

    <p>
      My passion lies in transforming ideas into reality through elegant interfaces, 
      while ensuring exceptional user experience, robust architecture, and high-quality code. 
      I stay up-to-date with emerging technologies, constantly enhancing my skills to create 
      cutting-edge web solutions that improve user experience and boost operational effectiveness.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably reading some books or take a lovely sleep.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
