<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <img src="{{site.baseurl}}/img/featured/pos.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <b>Point of Sale App</b>
        <p>An application that simplifies transaction recording, inventory management, and sales reporting.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <img src="{{site.baseurl}}/img/featured/presensipegawai.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <b>Employee Attendance Application</b>
        </div>
        <p>An application that accurately records employee attendance time and location using
          GPS. It provides attendance reports, leave reports, vacation reports, and external duty reports.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <img src="{{site.baseurl}}/img/featured/jurnalguru.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <b>Teacher Journal Application</b>
        </div>
        <p>An application that simplifies the manual attendance process for teachers in the classroom.</p>
      </figcaption>
    </div>
  </div>
</section>
